.map-container {
  display: flex;
  padding: 30px 30px;
  max-width: 1960px;
  margin: 0 auto;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}

.map { 
  height: 100%; 
  width: 100%; 
}

.school {
  height: 180px; 
  width: 180px; 
}